<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="2509" android:versionName="1.34" package="com.yuneec.flightmode15" platformBuildVersionCode="22" platformBuildVersionName="5.1-1756733">
    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher" android:debuggable="true" android:allowTaskReparenting="false" android:allowBackup="true" android:hardwareAccelerated="true" android:largeHeap="true">
        <activity android:theme="@*android:style/Theme.Holo.NoActionBar.Fullscreen" android:label="@string/app_name" android:name=".MainActivity" android:launchMode="singleTask" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider android:name="com.yuneec.database.DataProvider" android:exported="false" android:authorities="com.yuneec.databaseprovider" />
        <activity android:theme="@style/mainscreen_dialog" android:name=".TimerSettingActivity" android:screenOrientation="landscape" android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
        <activity android:theme="@*android:style/Theme.Holo.NoActionBar.Fullscreen" android:name="com.yuneec.model_select.ModelSelectMain" android:screenOrientation="landscape" />
        <activity android:theme="@*android:style/Theme.Holo.NoActionBar.Fullscreen" android:name="com.yuneec.model_select.EditModel" android:screenOrientation="landscape" />
        <activity android:theme="@*android:style/Theme.Holo.NoActionBar.Fullscreen" android:name="com.yuneec.model_select.TypeImageSelect" android:screenOrientation="landscape" />
        <activity android:theme="@*android:style/Theme.Holo.NoActionBar.Fullscreen" android:name="com.yuneec.model_select.ModelImport" android:screenOrientation="landscape" />
        <activity android:theme="@*android:style/Theme.Holo.NoActionBar.Fullscreen" android:name="com.yuneec.flight_settings.FlightSettings" android:screenOrientation="landscape" />
        <activity android:theme="@*android:style/Theme.Holo.NoActionBar.Fullscreen" android:name="com.yuneec.flight_settings.Bind" android:screenOrientation="landscape" />
        <activity android:theme="@*android:style/Theme.Holo.NoActionBar.Fullscreen" android:name="com.yuneec.channelsettings.ChannelSettings" android:screenOrientation="landscape" />
        <activity android:theme="@*android:style/Theme.Holo.NoActionBar.Fullscreen" android:name="com.yuneec.flight_settings.SwitchSelect" android:screenOrientation="landscape" />
        <activity android:theme="@*android:style/Theme.Holo.NoActionBar.Fullscreen" android:name="com.yuneec.flight_settings.CameraSelect" android:screenOrientation="landscape" />
        <activity android:theme="@*android:style/Theme.Holo.NoActionBar.Fullscreen" android:name="com.yuneec.flight_settings.QuickReview" android:screenOrientation="landscape" />
        <activity android:theme="@*android:style/Theme.Holo.NoActionBar.Fullscreen" android:name="com.yuneec.flight_settings.ModeSelect" android:screenOrientation="landscape" />
        <activity android:theme="@*android:style/Theme.Holo.NoActionBar.Fullscreen" android:name="com.yuneec.flight_settings.HardwareMonitor" android:screenOrientation="landscape" />
        <activity android:theme="@*android:style/Theme.Holo.NoActionBar.Fullscreen" android:name="com.yuneec.flight_settings.HardwareMonitorST10" android:screenOrientation="landscape" />
        <activity android:theme="@*android:style/Theme.Holo.NoActionBar.Fullscreen" android:name="com.yuneec.flight_settings.HardwareMonitorST12" android:screenOrientation="landscape" />
        <activity android:theme="@*android:style/Theme.Holo.NoActionBar.Fullscreen" android:name="com.yuneec.flight_settings.OtherSettings" android:screenOrientation="landscape" />
        <activity android:theme="@*android:style/Theme.Holo.NoActionBar.Fullscreen" android:name="com.yuneec.flight_settings.MasterServant" android:screenOrientation="landscape" />
        <activity android:theme="@*android:style/Theme.Holo.NoActionBar.Fullscreen" android:name="com.yuneec.flight_settings.QuickReviewPlayActivity" />
        <activity android:label="@string/str_mi_online_picture" android:name="com.yuneec.galleryloader.Gallery" android:screenOrientation="landscape" />
        <activity android:theme="@style/ImageViewTheme" android:label="@string/str_mi_online_picture" android:name="com.yuneec.galleryloader.ImageViewActivity" android:screenOrientation="landscape" />
        <activity android:theme="@*android:style/Theme.Holo.NoActionBar.Fullscreen" android:name="com.yuneec.test.TestMain" android:screenOrientation="landscape" />
        <activity android:theme="@*android:style/Theme.Holo.NoActionBar.Fullscreen" android:name="com.yuneec.test.TransmitterTest" android:screenOrientation="landscape" />
        <activity android:theme="@*android:style/Theme.Holo.NoActionBar.Fullscreen" android:name="com.yuneec.test.CalibrationTest" android:screenOrientation="landscape" />
        <activity android:theme="@*android:style/Theme.Holo.NoActionBar.Fullscreen" android:name="com.yuneec.test.ControllerTest" android:screenOrientation="landscape" />
        <activity android:theme="@*android:style/Theme.Holo.NoActionBar.Fullscreen" android:name="com.yuneec.test.ReadCalibrationData" android:screenOrientation="landscape" />
        <activity android:theme="@*android:style/Theme.Holo.NoActionBar.Fullscreen" android:name="com.yuneec.test.SignalTest" android:screenOrientation="landscape" />
        <activity android:theme="@*android:style/Theme.Holo.NoActionBar.Fullscreen" android:name="com.yuneec.test.GpsTestActivity" android:screenOrientation="landscape" />
        <activity android:theme="@*android:style/Theme.Holo.NoActionBar.Fullscreen" android:name="com.yuneec.test.ADBTestActivity" android:screenOrientation="landscape" />
        <activity android:theme="@*android:style/Theme.Holo.NoActionBar.Fullscreen" android:name="com.yuneec.test.UpdateMain" android:screenOrientation="landscape" />
        <activity android:theme="@*android:style/Theme.Holo.NoActionBar.Fullscreen" android:name=".CameraSettingsActivity" android:screenOrientation="landscape" />
        <receiver android:name=".BootCompletedReceiver">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
